<h2>@<%= @user.twid %></h2	>
<p>
	<%= @user.bio %>
</p>

<h3>Tweets</h3>
	<ul>
		<% @user.outgoing(:TWEETED).sort { |t1,t2| t2.date <=> t1.date }.each do |i| %>
			<li><%= i.text %><!--<%= Time.at(i.date) %>--></li>
		<% end %>
	</ul>

<h3>Follows</h3>
	<ul>
		<% @user.outgoing(:FOLLOWS).each do |u| %>
			<li><a href="/user/<%= u.twid %>">@<%= u.twid %></a></li>
		<% end %>
	</ul>

<h3>Knows</h3>
	<ul>
		<% @user.outgoing(:KNOWS).each do |u| %>
		<li><a href="/user/<%= u.twid %>">@<%= u.twid %></a></li>
		<% end %>
	</ul>

<h3>Tags</h3>
	<ul>
		<% @user.outgoing(:USED).each do |tag| %>
		<li><a href="/tag/<%= tag.name %>">#<%= tag.name %></a></li>
		<% end %>
	</ul>
